<div class="modal fade" id="service{{service.ServiceId}}" tabindex="-1" role="dialog" aria-labelledby="service{{service.ServiceId}}" aria-hidden="true">
    <div class="modal-dialog" style="width: 900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Service Response
                    <img src="../Content/Images/blank_badge_green.png" data-ng-show="service.Status=='Green'" class="img-rounded" style="height: 30px; width: 30px" />
                    <img src="../Content/Images/blank_badge_orange.png" data-ng-show="service.Status=='Amber'" class="img-rounded" style="height: 30px; width: 30px" />
                    <img src="../Content/Images/blank_badge_red.png" data-ng-show="service.Status=='Red'" class="img-rounded" style="height: 30px; width: 30px" />
                </h4>
            </div>
            <div class="modal-body">
                <pre>
                                        <span data-ng-bind="service.Response"></span>
                                    </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>