<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon"/>
        <link href="../Content/bootstrap.css" rel="stylesheet" />
        <link href="../Content/toastr.css" rel="stylesheet"/>
        <script src="../Scripts/jquery-2.1.0.min.js"></script>
        <script src="../Scripts/bootstrap.min.js"></script>
        <script src="../Scripts/angular.min.js"></script>
        <script src="../Scripts/toastr.min.js"></script>
        <script src="js/admin.js"></script>
        <title>Service Manager - Admin</title>
    </head>
<body data-ng-app="Admin">
    <div class="container" data-ng-controller="AdminController">

        <h1>Service Monitor <small>Manage Services</small></h1>
        <form class="form-inline" role="form" name="adminForm">
            <div class="col-md-10 well">
                <div class="row">

                    <label class="col-sm-1 control-label" for="name">Name</label>
                    <div class="col-sm-5  form-group">
                        <input class="form-control" id="name" placeholder="Name" name="name" data-ng-model="Model.Name" required="" />
                        <span class="glyphicon glyphicon-remove" style="position: absolute;right: 0;width: 34px;line-height: 34px;"
                              data-ng-show="adminForm.name.$error.required"></span>
                        <span class="glyphicon glyphicon-ok" style="position: absolute;right: 0;width: 34px;line-height: 34px;"
                             data-ng-show="!adminForm.name.$error.required"></span>
                    </div>
                    <label class="col-md-1 control-label" for="url">Url</label>
                    <div class="col-md-5 form-group">
                        <input type="url" class="form-control" id="url" placeholder="Url" name="url" data-ng-model="Model.Url" required="" />
                        <span class="glyphicon glyphicon-remove" style="position: absolute;right: 0;width: 34px;line-height: 34px;"
                              data-ng-show="adminForm.url.$error.required || adminForm.url.$error.url"></span>
                        <span class="glyphicon glyphicon-ok" style="position: absolute;right: 0;width: 34px;line-height: 34px;"
                             data-ng-show="!adminForm.url.$error.required && !adminForm.url.$error.url"></span>
                    </div>
                </div>
                <div class="row col-md-12"></div>
                <div class="row">
                    <label class="col-sm-1 control-label" for="soapAction">Soap Action</label>
                    <div class="col-sm-5">
                        <input class="form-control" id="soapAction" placeholder="SoapAction" data-ng-model="Model.SoapAction" />
                    </div>
                    <label class="col-md-1 control-label" for="contentType">Content Type</label>
                    <div class="col-md-5">
                        <select class="form-control" id="contentType" data-ng-model="Model.ContentType">
                            <option>application/json</option>
                            <option>text/html</option>
                            <option>application/xml</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12"></div>
                <div class="row">
                    <label class="col-sm-1 control-label" for="method">Method</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="method" data-ng-model="Model.Method">
                            <option>Post</option>
                            <option>Get</option>
                        </select>
                    </div>
                    <label class="col-md-1 control-label" for="keyword">Keyword</label>
                    <div class="col-sm-5">
                        <input class="form-control" id="keyword" placeholder="Keyword" data-ng-model="Model.Keyword" />
                    </div>
                </div>
                <div class="row col-md-12"></div>
                <div class="row">
                    <label class="col-sm-1 control-label" for="request">Request</label>
                    <div class="col-sm-11">
                        <textarea class="form-control" id="request" rows="3" data-ng-model="Model.Request" placeholder="Request"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" style="width:100px" data-ng-disabled="!adminForm.$valid" data-ng-click="Model.CreateService()">Add </button><br/><br/>
                <button type="button" class="btn btn-default" style="width:100px">Clear</button><br/><br/>
                <button type="button" class="btn btn-info" style="width:100px" data-ng-click="Model.TestService()" data-toggle="modal" data-target="#service{{service.ServiceId}}">Test</button>
            </div>
        </form>
        <div data-ng-include="" data-src="'../templates/serviceresults.html'"></div>
        <div class="clearfix"></div>
        <h4>Service List</h4>
        <div class="row">
            <div class="col-sm-6 col-md-4" data-ng-repeat="service in Model.ServiceList">
                <div class="alert alert-warning" style="cursor: pointer;" data-ng-click="Model.TestService(service)" data-toggle="modal" data-target="#service{{service.ServiceId}}" >
                    <div>
                        <h3 data-ng-bind="service.Name"></h3>
                        <label data-ng-bind="service.Url"></label>
                        <p data-ng-bind="service.SoapAction"></p>
                        <p>
                            <label class="text-muted" data-ng-bind="service.ContentType"></label>
                            <label class="text-info" data-ng-bind="service.Method"></label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
